apiVersion: grafana.integreatly.org/v1beta1
kind: Grafana
metadata:
  name: grafana
spec:
  config:
    server:
      root_url: "https://grafana.<domain>"
    auth.generic_oauth:
      api_url: "https://authn.<domain>/realms/platform/protocol/openid-connect/userinfo"
      token_url: "https://authn.<domain>/realms/platform/protocol/openid-connect/token"
      auth_url: "https://authn.<domain>/realms/platform/protocol/openid-connect/auth"
      client_id: "grafana"
    database:
      type: postgres
      name: grafana
      user: grafana
  deployment:
    spec:
      template:
        spec:
          containers:
            - name: grafana
              env:
                - name: GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET
                  valueFrom:
                    secretKeyRef:
                      name: grafana
                      key: grafana_oidc_client_secret
                - name: GF_DATABASE_HOST
                  valueFrom:
                    secretKeyRef:
                      name: grafana-pg-cluster-app
                      key: host
                - name: GF_DATABASE_PASSWORD
                  valueFrom:
                    secretKeyRef:
                      name: grafana-pg-cluster-app
                      key: password
