apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: grafana
spec:
  parentRefs:
  - name: public-gateway
    namespace: istio-gateway
    sectionName: https
  hostnames:
  - "grafana.example.domain.tld"
  rules:
  - backendRefs:
    - name: grafana-service
      port: 3000