apiVersion: tempo.grafana.com/v1alpha1
kind: TempoStack
metadata:
  name: tempo
spec:
  retention:
    global:
      traces: 72h
  storage:
    secret:
      name: tempo-azure-storage
      type: azure
      credentialMode: token
  storageSize: 10Gi
  resources:
    total:
      limits:
        memory: 4Gi
        cpu: 2000m
  template:
    compactor:
      replicas: 2
      podSecurityContext:
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
    distributor:
      component:
        replicas: 2
        podSecurityContext:
          runAsNonRoot: true
          seccompProfile:
            type: RuntimeDefault
    queryFrontend:
      component:
        replicas: 2
        podSecurityContext:
          runAsNonRoot: true
          seccompProfile:
            type: RuntimeDefault
      jaegerQuery:
        enabled: true
    querier:
      replicas: 2
      podSecurityContext:
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
    ingester:
      replicas: 2
      podSecurityContext:
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
        fsGroup: 10001 # see https://github.com/grafana/tempo-operator/issues/996
        