# Either refer directly to a URL, or add the CRDs in this repo. 
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: set-in-overlay
resources:
  - https://github.com/grafana/tempo-operator/releases/download/v0.17.1/tempo-operator.yaml
patches:
- target:
    kind: Namespace
    name: tempo-operator-system
  patch: |-
    - op: add
      path: /metadata/labels/istio.io~1dataplane-mode
      value: ambient
- target:
    kind: Deployment
    name: tempo-operator-controller
  patch: |-
    - op: add
      path: /spec/template/spec/containers/0/securityContext
      value:
        seccompProfile:
          type: RuntimeDefault
        allowPrivilegeEscalation: false
        capabilities:
          drop:
          - ALL
