# Either refer directly to a URL, or add the CRDs in this repo. 
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - https://github.com/grafana/tempo-operator/releases/download/v0.15.3/tempo-operator.yaml