variables:
  RENOVATE_REPOSITORIES: $CI_PROJECT_PATH

kustomize:
  image:
    name: bitnamilegacy/kubectl:1.33.4
    entrypoint: [ "" ]
  script:
    - find ./infrastructure/**/overlays -name "kustomization.yaml" | while read -r kustomization; do
      overlay_dir=$(dirname "$kustomization");
      echo "Validating $overlay_dir";
      kubectl kustomize "$overlay_dir" > /dev/null;
      done

commitlint:
  image: node:24.11.0
  stage: test
  variables:
    GIT_DEPTH: '0'
  before_script:
  - npm install -g commitlint @commitlint/{config-conventional,cli}
  script:
  - COMMIT_LINT_FROM="$(git merge-base origin/${CI_DEFAULT_BRANCH:-main} HEAD)"
  - echo COMMIT_LINT_FROM=$COMMIT_LINT_FROM
  - npx commitlint --from=$COMMIT_LINT_FROM
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

include:
  # https://gitlab.com/gitlab-com/gl-infra/renovate/renovate-runner/-/blob/main/templates/renovate.gitlab-ci.yml?ref_type=heads
  - project: 'renovate-bot/renovate-runner'
    file: '/templates/renovate.gitlab-ci.yml'
