apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: keycloak
spec:
  parentRefs:
  - name: "set-in-overlay"
    namespace: istio-gateway
  hostnames:
  - "set-in-overlay"
  rules:
    - matches:
      - path:
          type: PathPrefix
          value: /
      backendRefs:
        - name: keycloak
          port: 80
