apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana-operator
spec:
  interval: 5m
  chart:
    spec:
      chart: grafana-operator
      version: "v5.13.0"
      sourceRef:
        kind: HelmRepository
        name: grafana-operator
      interval: 1m