apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana-operator
spec:
  interval: 5m
  driftDetection:
    mode: enabled
  install:
    strategy: 
      name: RetryOnFailure
      retryInterval: 2m
  upgrade:
    strategy: 
      name: RetryOnFailure
      retryInterval: 2m
  chart:
    spec:
      chart: grafana-operator
      version: "5.21.4"
      sourceRef:
        kind: HelmRepository
        name: grafana-operator
      interval: 1m
  values:
    securityContext:
      seccompProfile:
        type: RuntimeDefault
