apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: keycloak
spec:
  parentRefs:
  - name: public-gateway
    namespace: istio-gateway
    sectionName: https
  hostnames:
  - "authn.example.domain.tld"