apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: grafana
resources:
  - ../../base
patches:
  - path: patches/grafana.yaml
  - path: patches/cnpg.yaml
  - path: patches/mimir-ds.yaml
  - path: patches/tempo-ds.yaml
