apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: alloy
configMapGenerator:
  - name: alloy
    files:
    - config.alloy
    options:
      disableNameSuffixHash: true
resources:
  - http-rule.yaml
  - ../../base
patches:
  - path: patches/helmrelease.yaml
