apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: minio-generic-tenant
spec:
  chart:
    spec:
      version: "7.1.1"
  values:
    tenant:
      name: minio-generic-tenant
      pools:
        - name: pool-0
          servers: 1
          volumesPerServer: 1
          size: 3Gi
          securityContext:
            fsGroup: 1000
            fsGroupChangePolicy: OnRootMismatch
            runAsGroup: 1000
            runAsNonRoot: true
            runAsUser: 1000
          containerSecurityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
              - ALL
            runAsGroup: 1000
            runAsNonRoot: true
            runAsUser: 1000
            seccompProfile:
              type: RuntimeDefault
      certificate:
        requestAutoCert: false
      buckets:
        - name: velero
        - name: loki-chunks
        - name: loki-ruler
        - name: loki-admin
        - name: mimir-blocks
        - name: mimir-alertmanager
        - name: mimir-ruler
