apiVersion: grafana.integreatly.org/v1beta1
kind: Grafana
metadata:
  name: grafana
spec:
  config:
    server:
      root_url: "http://grafana.<domain>"
    database:
      type: postgres
      name: grafana
      user: grafana
  deployment:
    spec:
      template:
        spec:
          containers:
            - name: grafana
              env:
                - name: GF_DATABASE_HOST
                  valueFrom:
                    secretKeyRef:
                      name: grafana-pg-cluster-app
                      key: host
                - name: GF_DATABASE_PASSWORD
                  valueFrom:
                    secretKeyRef:
                      name: grafana-pg-cluster-app
                      key: password
