apiVersion: grafana.integreatly.org/v1beta1
kind: Grafana
metadata:
  name: grafana
spec:
  # Set-up simplest form of Grafana on local
  config:
    database:
      type: postgres
      name: grafana
      user: grafana
    server:
      root_url: "http://grafana.havenplus.local"
    analytics:
      reporting_enabled: "false"
    security:
      admin_user: admin
      admin_password: admin
    auth: ~
    users: ~
    auth.generic_oauth: ~
  deployment:
    spec:
      template:
        spec:
          containers:
            - name: grafana
              env:
                - name: GF_DATABASE_HOST
                  valueFrom:
                    secretKeyRef:
                      name: grafana-pg-cluster-app
                      key: host
                - name: GF_DATABASE_PASSWORD
                  valueFrom:
                    secretKeyRef:
                      name: grafana-pg-cluster-app
                      key: password
