apiVersion: tempo.grafana.com/v1alpha1
kind: TempoStack
metadata:
  name: tempo
spec:
  retention:
    global:
      traces: 72h
  storage:
    secret:
      name: s3-credentials
      type: s3
    tls:
      enabled: true
  storageSize: 10Gi
  resources:
    total:
      limits:
        memory: 4Gi
        cpu: 2000m
  template:
    compactor:
      replicas: 2
    distributor:
      component:
        replicas: 2
    queryFrontend:
      component:
        replicas: 2
      jaegerQuery:
        enabled: true
    querier:
      replicas: 2
    ingester:
      replicas: 2
      podSecurityContext:
        fsGroup: 10001 # see https://github.com/grafana/tempo-operator/issues/996
        