apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: alloy
configMapGenerator:
  - name: alloy
    files:
    - config.alloy
    options:
      disableNameSuffixHash: true
resources:
  - ../../base
patches:
  - path: helmrelease-patch.yaml
    target:
      kind: HelmRelease
      name: alloy
      namespace: alloy
    options:
      allowNameChange: true
